.place__title {
    margin: 0;
    padding: 0;
    max-width: 460px;
    text-align: start;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    color: #FFFFFF;
}

@media (max-width: 1279px) {
    .place__title {
        max-width: 440px;
    } 
}

@media (max-width: 1023px) {
    .place__title {
        max-width: 330px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 767px) {
    .place__title {
        padding: 0 16px;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}