.place__paragraph {
    margin: 0;
    padding: 0 0 26px;
    max-width: 484px;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    color: #FFFFFF;
}

.place__paragraph:last-of-type {
    padding: 0;
}

@media (max-width: 1279px) {
    .place__paragraph {
        max-width: 456px;
    } 
}

@media (max-width: 1023px) {
    .place__paragraph {
        padding: 0 0 25px;
        max-width: 352px;
        font-size: 16px;
        line-height: 26px;
    }
    .place__paragraph:last-of-type {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        padding: 0 16px 25px;
        max-width: 288px;
    }
    .place__paragraph:last-of-type {
        padding: 0 16px;
    }
}