.intro {
    max-width: 690px;
    max-height: 429px;
    margin: 0 auto 92px;
    padding: 0 442px 0 148px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

@media (max-width: 1279px) {
    .intro {
        max-width: 690px;
        max-height: 429px;
        padding: 0 286px 0 48px;
    } 
}

@media (max-width: 1023px) {
    .intro {
        max-width: 720px;
        max-height: 429px;
        margin: 0 auto 88px;
        padding: 0 24px;
    }
}

@media (max-width: 767px) {
    .intro {
        max-width: 288px;
        max-height: 754px;
        margin: 0 auto 64px;
        padding: 0 16px;
    }
}