.lead__caption {
    max-width: 640px;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: start;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: start;
}

@media (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
    }
}